.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0;
    .resume{ 
        display: flex;
        flex-direction: row;
        .sidebar{
            top: 60px;
            position: sticky;
            height: 100px;
            color: #ff7429;
            @media (max-width: 768px) {
                display: none;
            }
            .timeline-container{
                display: flex;
                width: 270px;
                align-items: flex-start;
                .steps{
                    height: 100vh;
                    width: 100%;
                    position: sticky;
                }
            }
        }
        .main-body{
            width: 700px;
            overflow-y: auto;
            position: relative;
            padding-left: 0px;
            padding-right: 0px;
            @media (max-width: 975px) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
            .company-position{
                .experience-header{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .company{
                            margin-right: auto;
                            margin-top: 0;
                            color: #ff7429;
                    }
                    .dates{
                        margin-left: auto;
                        margin-top: 0;
                        color: #ff7429
                    }
                }
                .position{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    .title{
                        margin-right: auto;
                        margin-top: 0;
                        color: #ff7429;
                        font-size: medium;
                    }
                    .dates{
                        margin-left: auto;
                        margin-top: 0;
                        color: #ff7429;
                        font-size: medium;
                    }
                }
                .resume-media{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .image{
                        width: 100%;
                        margin: 0
                    }
                }
                .first-sentence{ 
                    font-weight: bold;
                }
                
            }
        }
    }
}